Repository gannino/tf-kube-any-compute: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkov, terrascan

checkov:
  name: üõ°Ô∏è Checkov security scan
  description: 'Comprehensive security and compliance scanning
  
  
    üí° Common Fixes:
  
    ‚Ä¢ CKV_K8S_8: Add resource limits to containers
  
    ‚Ä¢ CKV_K8S_10: Don''t run containers as root (runAsNonRoot: true)
  
    ‚Ä¢ CKV_K8S_12/13: Add readiness and liveness probes
  
  ...

terrascan:
  name: üîí Terrascan policy scan
  description: Policy-as-code security scanning for Terraform
  entry: sh
  args:
  - -c
  ...

fix: final pre-commit config fixes for documentation reorganization
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  helm-gatekeeper/CONTRIBUTING.md
  helm-grafana/CONTRIBUTING.md
  helm-host-path/CONTRIBUTING.md
  helm-loki/CONTRIBUTING.md
  helm-metallb/CONTRIBUTING.md
  helm-nfs-csi/CONTRIBUTING.md
  helm-portainer/CONTRIBUTING.md
  helm-prometheus-stack/CONTRIBUTING.md
  helm-promtail/CONTRIBUTING.md
  helm-traefik/CONTRIBUTING.md
  helm-vault/CONTRIBUTING.md
Due: checkov

fix: resolve pre-release readiness issues
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/versions.yml
  .pre-commit-config.yaml
  .secrets.baseline
  .tflint.hcl
  CHANGELOG.md
  Makefile
  README.md
  SECURITY-TESTING-GUIDE.md
  locals.tf
  prompts/README.md
  provider.tf
  scripts/ci-test-summary.sh
  terraform.tfvars.example
  variables.tf
  version.tf
  versions.tf
Due: checkov, terrascan

fix: mark debug outputs as sensitive
  outputs.tf
Due: checkov, terrascan

fix: update all workflows with CI environment variables, current Terraform version, and MicroK8s default-config setup
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/release-readiness.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  SECURITY-TESTING-GUIDE.md
  locals.tf
  provider.tf
  variables.tf
Due: checkov, terrascan

fix: resolve pre-commit hook issues by fixing private key examples and regenerating secrets baseline
  .secrets.baseline
  SECURITY-TESTING-GUIDE.md
Due: none

fix: resolve all pre-commit issues by updating hooks and removing problematic examples
  .pre-commit-config.yaml
  .secrets.baseline
  SECURITY-TESTING-GUIDE.md
Due: checkov

docs: add comprehensive version alignment documentation
  VERSION-ALIGNMENT-REPORT.md
  VERSION-UPDATE-CHECKLIST.md
Due: none

feat: enable fail_fast in pre-commit hooks
  .pre-commit-config.yaml
  VERSION-ALIGNMENT-REPORT.md
  VERSION-UPDATE-CHECKLIST.md
Due: checkov

fix: replace 'basic' with 'minimal' in CI workflows and mark sensitive outputs
  .github/workflows/ci.yml
  .github/workflows/comprehensive-ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  helm-consul/outputs.tf
  helm-grafana/outputs.tf
  helm-portainer/outputs.tf
  helm-prometheus-stack/outputs.tf
Due: checkov, terrascan

fix: disable Traefik dashboard in terraform.tfvars.example and add test configs
  .github/workflows/comprehensive-ci.yml
  .gitignore
  .pre-commit-config.yaml
  terraform.tfvars.example
Due: checkov

fix: remove trailing whitespace from pre-commit config
  .pre-commit-config.yaml
Due: checkov

fix: make terraform-plan-validate informational only
  .pre-commit-config.yaml
Due: checkov

fix: track test-configs in git and fix architecture detection
  .gitignore
  locals.tf
  test-configs/cloud.tfvars
  test-configs/minimal.tfvars
  test-configs/mixed-cluster.tfvars
  test-configs/production.tfvars
  test-configs/raspberry-pi.tfvars
Due: checkov, terrascan

fix: remove trailing whitespace from test configs
  test-configs/mixed-cluster.tfvars
  test-configs/production.tfvars
  test-configs/raspberry-pi.tfvars
Due: none

fix: correct MetalLB address pool format in test configs
  test-configs/mixed-cluster.tfvars
  test-configs/production.tfvars
  test-configs/raspberry-pi.tfvars
Due: none

fix: add missing newlines at end of test config files
  test-configs/cloud.tfvars
  test-configs/minimal.tfvars
  test-configs/mixed-cluster.tfvars
  test-configs/production.tfvars
  test-configs/raspberry-pi.tfvars
Due: none

fix: exclude test-configs from TFLint analysis
  .pre-commit-config.yaml
Due: checkov

fix: correct TFLint exclude pattern for test-configs
  .pre-commit-config.yaml
Due: checkov

fix: improve domain validation to support subdomains
  test-configs/cloud.tfvars
  test-configs/minimal.tfvars
  test-configs/mixed-cluster.tfvars
  test-configs/production.tfvars
  test-configs/raspberry-pi.tfvars
  variables.tf
Due: checkov, terrascan

fix: terraform formatting in test configs
  test-configs/mixed-cluster.tfvars
  test-configs/production.tfvars
Due: none

fix: allow hostnames/FQDNs for NFS server address validation
  variables.tf
Due: checkov, terrascan

fix: update CONTRIBUTING.md and variables.tf changes
  CONTRIBUTING.md
  variables.tf
Due: checkov, terrascan

fix: add missing test-report target to Makefile
  Makefile
Due: none

fix: terraform-docs should update README.md not CONTRIBUTING.md
  .pre-commit-config.yaml
Due: checkov

fix: improve default variables for better out-of-the-box experience
  CONTRIBUTING.md
  microk8s-config.tf
  variables.tf
Due: checkov, terrascan

fix: pre-commit auto-fixes
  CONTRIBUTING.md
  README.md
  helm-vault/README.md
  variables.tf
Due: checkov, terrascan

fix: address PR review comments
  variables.tf
Due: checkov, terrascan

fix: correct service_overrides validation for missing cpu_arch
  variables.tf
Due: checkov, terrascan

fix: improve default variables for better out-of-the-box experience (#3) - all pipeline green 💚
  README.md
  helm-vault/README.md
  microk8s-config.tf
  variables.tf
Due: checkov, terrascan

Streamline GitHub workflows: eliminate redundancy, enable comprehensive pipeline by default
  .github/env.yml
  .github/workflows/README.md
  .github/workflows/ci-consolidated.yml
  .github/workflows/quick-test.yml
  .github/workflows/release-consolidated.yml
Due: checkov

Remove deprecated workflows - replaced by consolidated pipelines
  .github/workflows/ci.yml
  .github/workflows/comprehensive-ci.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/test.yml
  .github/workflows/versions.yml
Due: checkov

Fix security scan: only upload SARIF files if they exist
  .github/workflows/ci-consolidated.yml
Due: checkov

Fix workflow issues: matrix strategy, join() function, and security
  .github/workflows/ci-consolidated.yml
  .github/workflows/quick-test.yml
Due: checkov

Run TFLint on all modules including submodules
  .github/workflows/ci-consolidated.yml
  .github/workflows/quick-test.yml
Due: checkov

Add pre-commit hooks aligned with streamlined CI pipeline
  .pre-commit-config.yaml
  .yamllint.yaml
  setup-pre-commit.sh
Due: checkov

Complete workflow streamlining and pre-commit setup
  .github/PULL_REQUEST_TEMPLATE.md
  .github/env.yml
  .github/workflows/README.md
  .github/workflows/ci-consolidated.yml
  .github/workflows/quick-test.yml
  .github/workflows/release-consolidated.yml
  .pre-commit-config.yaml
  .yamllint.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  PROJECT.md
  README.md
  SECURITY-TESTING-GUIDE.md
  SERVICE-INTEGRATION-TEMPLATE.md
  VARIABLES.md
  VERSION-ALIGNMENT-REPORT.md
  VERSION-MANAGEMENT.md
  helm-gatekeeper/README.md
  helm-grafana/README.md
  helm-host-path/README.md
  helm-loki/README.md
  helm-nfs-csi/README.md
  helm-portainer/README.md
  helm-prometheus-stack/README.md
  helm-promtail/README.md
  helm-traefik/README.md
  helm-vault/README.md
  outputs.tf
  prompts/CLAUDE-CONTRIBUTION-PROMPT.md
  prompts/DEEPSEEK-CONTRIBUTION-PROMPT.md
  prompts/GEMINI-CONTRIBUTION-PROMPT.md
  prompts/GPT4-CONTRIBUTION-PROMPT.md
  prompts/OLLAMA-CONTRIBUTION-PROMPT.md
  prompts/README.md
  scripts/README.md
  security-results/security-report-20250810-013221.md
  versions.tf
Due: checkov, terrascan

Complete TFLint fixes: reduced issues from 64 to 28, all critical provider and variable type issues resolved
  .pre-commit-config.yaml
  fix-all-modules.py
  helm-consul/README.md
  helm-consul/outputs.tf
  helm-consul/variables.tf
  helm-host-path/README.md
  helm-host-path/variables.tf
  helm-metallb/README.md
  helm-metallb/variables.tf
  helm-metallb/version.tf
  helm-portainer/README.md
  helm-portainer/outputs.tf
  helm-portainer/version.tf
  helm-prometheus-stack-crds/README.md
  helm-prometheus-stack-crds/variables.tf
  helm-prometheus-stack-crds/version.tf
  helm-traefik/ingress/README.md
  helm-traefik/ingress/main.tf
  helm-traefik/ingress/variables.tf
  helm-traefik/ingress/version.tf
  helm-vault/README.md
  helm-vault/variables.tf
  helm-vault/version.tf
Due: checkov, terrascan

Update terraform docs for helm-nfs-csi module
  helm-nfs-csi/README.md
  helm-nfs-csi/variables.tf
Due: checkov, terrascan

Fix helm-prometheus-stack: add missing random and null providers
  helm-prometheus-stack/README.md
  helm-prometheus-stack/version.tf
Due: checkov, terrascan

Path conditions:
  checkov: any of: \.(tf|yaml|yml|json)$, but not: \.terraform/|\.git/|test-configs/|examples/
  terrascan: any of: \.tf$, but not: \.terraform/|test-configs/|examples/
