Repository gannino/tf-kube-any-compute: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-plan-validate, checkov, terrascan

terraform-plan-validate:
  name: üß™ Terraform plan validation
  description: 'Validates Terraform configuration with plan execution
  
  
    üí° This catches issues that static validation misses:
  
    ‚Ä¢ Sensitive output configuration errors
  
    ‚Ä¢ Resource dependency issues
  
    ‚Ä¢ Provider constraint violations
  
  ...

checkov:
  name: üõ°Ô∏è Checkov security scan
  description: 'Comprehensive security and compliance scanning
  
  
    üí° Common Fixes:
  
    ‚Ä¢ CKV_K8S_8: Add resource limits to containers
  
    ‚Ä¢ CKV_K8S_10: Don''t run containers as root (runAsNonRoot: true)
  
    ‚Ä¢ CKV_K8S_12/13: Add readiness and liveness probes
  
  ...

terrascan:
  name: üîí Terrascan policy scan
  description: Policy-as-code security scanning for Terraform
  entry: sh
  args:
  - -c
  ...

Fix helm-traefik providers and make pre-commit fail on TFLint warnings
  .pre-commit-config.yaml
  helm-traefik/README.md
  helm-traefik/version.tf
Due: terraform-plan-validate, checkov, terrascan

Fix TFLint GitHub API rate limit by adding authentication token
  .github/workflows/ci-consolidated.yml
Due: checkov

Fix pre-commit config syntax errors
  .pre-commit-config.yaml
  .pre-commit-hooks/tflint-recursive.sh
Due: checkov

Fix TFLint: move outputs from main.tf to outputs.tf in helm-traefik
  helm-traefik/main.tf
  helm-traefik/outputs.tf
Due: terraform-plan-validate, checkov, terrascan

Add recursive terraform-docs pre-commit hook and update all module documentation
  .pre-commit-config.yaml
  .pre-commit-hooks/terraform-docs-recursive.sh
  README.md
  helm-consul/README.md
  helm-grafana/README.md
  helm-loki/README.md
  helm-metallb/README.md
  helm-nfs-csi/README.md
  helm-node-feature-discovery/README.md
  helm-portainer/README.md
  helm-prometheus-stack-crds/README.md
  helm-prometheus-stack/README.md
  helm-promtail/README.md
  helm-traefik/README.md
  helm-vault/README.md
Due: checkov

Improve CI docs check: show which README.md files are out of date with diffs
  .github/workflows/ci-consolidated.yml
  .pre-commit-hooks/terraform-docs-recursive.sh
Due: checkov

Fix TFLint: move output from main.tf to outputs.tf in helm-traefik/ingress
  .github/workflows/ci-consolidated.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/terraform-docs-recursive.sh
  .pre-commit-hooks/tflint-recursive.sh
  helm-gatekeeper/policies/main.tf
  helm-gatekeeper/policies/outputs.tf
  helm-gatekeeper/policies/terraform.tf
  helm-gatekeeper/policies/version.tf
  helm-promtail/examples/basic/outputs.tf
  helm-promtail/examples/basic/terraform.tf
  helm-promtail/examples/basic/variables.tf
  helm-traefik/ingress/main.tf
  helm-traefik/ingress/outputs.tf
Due: terraform-plan-validate, checkov, terrascan

fix: resolve TFLint warnings and terraform-docs CI issues
  .pre-commit-config.yaml
  .terraform-docs.yml
  README.md
  helm-consul/.terraform-docs.yml
  helm-gatekeeper/.terraform-docs.yml
  helm-grafana/.terraform-docs.yml
  helm-host-path/.terraform-docs.yml
  helm-loki/.terraform-docs.yml
  helm-metallb/.terraform-docs.yml
  helm-nfs-csi/.terraform-docs.yml
  helm-node-feature-discovery/.terraform-docs.yml
  helm-portainer/.terraform-docs.yml
  helm-prometheus-stack-crds/.terraform-docs.yml
  helm-prometheus-stack/.terraform-docs.yml
  helm-promtail/.terraform-docs.yml
  helm-traefik/.terraform-docs.yml
  helm-vault/.terraform-docs.yml
Due: checkov

fix: resolve CI pipeline issues
  .github/workflows/ci-consolidated.yml
  .terraform-docs.yml
  README.md
Due: checkov

fix: resolve CI pipeline issues
  .github/workflows/ci-consolidated.yml
  .pre-commit-hooks/terraform-docs-recursive.sh
Due: checkov

fix: terraform-docs configuration for proper injection
  .github/workflows/quick-test.yml
  .github/workflows/release-integration.yml
  .github/workflows/release-readiness-fixed.yml
  .github/workflows/release-readiness.yml
  .github/workflows/release.yml
  .terraform-docs.yml
  helm-consul/.terraform-docs.yml
  helm-gatekeeper/.terraform-docs.yml
  helm-grafana/.terraform-docs.yml
  helm-host-path/.terraform-docs.yml
  helm-loki/.terraform-docs.yml
  helm-metallb/.terraform-docs.yml
  helm-nfs-csi/.terraform-docs.yml
  helm-node-feature-discovery/.terraform-docs.yml
  helm-portainer/.terraform-docs.yml
  helm-prometheus-stack-crds/.terraform-docs.yml
  helm-prometheus-stack/.terraform-docs.yml
  helm-promtail/.terraform-docs.yml
  helm-traefik/.terraform-docs.yml
  helm-vault/.terraform-docs.yml
Due: checkov

fix: remove terraform-docs config files causing README overwrite
  .terraform-docs.yml
  helm-consul/.terraform-docs.yml
  helm-gatekeeper/.terraform-docs.yml
  helm-grafana/.terraform-docs.yml
  helm-host-path/.terraform-docs.yml
  helm-loki/.terraform-docs.yml
  helm-metallb/.terraform-docs.yml
  helm-nfs-csi/.terraform-docs.yml
  helm-node-feature-discovery/.terraform-docs.yml
  helm-portainer/.terraform-docs.yml
  helm-prometheus-stack-crds/.terraform-docs.yml
  helm-prometheus-stack/.terraform-docs.yml
  helm-promtail/.terraform-docs.yml
  helm-traefik/.terraform-docs.yml
  helm-vault/.terraform-docs.yml
Due: checkov

ci: update terraform-docs to v0.20.0 to match local version
  .github/workflows/ci-consolidated.yml
Due: checkov

fix: terraform-docs automation - skip root README.md
  .github/workflows/ci-consolidated.yml
  .pre-commit-hooks/terraform-docs-automation.sh
  .terraform-docs.yml
  README.md
Due: checkov

fix: update terraform-docs to v0.20.0 for consistency
  .github/versions.yml
Due: checkov

fix: include terraform lock files for CI consistency
  .github/workflows/ci-consolidated.yml
  .gitignore
  .terraform.lock.hcl
  helm-consul/.terraform.lock.hcl
  helm-gatekeeper/.terraform.lock.hcl
  helm-gatekeeper/crds/.terraform.lock.hcl
  helm-gatekeeper/policies/.terraform.lock.hcl
  helm-grafana/.terraform.lock.hcl
  helm-grafana/README.md
  helm-host-path/.terraform.lock.hcl
  helm-loki/.terraform.lock.hcl
  helm-loki/README.md
  helm-metallb/.terraform.lock.hcl
  helm-nfs-csi/.terraform.lock.hcl
  helm-node-feature-discovery/.terraform.lock.hcl
  helm-node-feature-discovery/README.md
  helm-portainer/.terraform.lock.hcl
  helm-prometheus-stack-crds/.terraform.lock.hcl
  helm-prometheus-stack/.terraform.lock.hcl
  helm-promtail/.terraform.lock.hcl
  helm-promtail/README.md
  helm-promtail/examples/basic/.terraform.lock.hcl
  helm-traefik/.terraform.lock.hcl
  helm-traefik/ingress/.terraform.lock.hcl
  helm-vault/.terraform.lock.hcl
Due: checkov

fix: remove terraform init from docs check
  .github/workflows/ci-consolidated.yml
Due: checkov

fix: add terraform init to test-lint target
  Makefile
Due: none

fix: ignore internal anchor links in markdown link check
  .github/markdown-link-check-config.json
  .pre-commit-config.yaml
  README.md
Due: checkov

fix: improve markdown link check configuration
  .github/markdown-link-check-config.json
  .github/workflows/ci-consolidated.yml
  .pre-commit-config.yaml
Due: checkov

Update README.md
  .github/README.md
Due: none

docs: enhance contributor documentation and testing guides
  .github/README.md
  CONTRIBUTING.md
  CONTRIBUTOR-QUICK-START.md
  README.md
  TESTING-GUIDE.md
  prompts/CLAUDE-CICD-CREATION-PROMT.md
  prompts/CLAUDE-CICD-OPTIMIZATION-PROMT.md
  setup-pre-commit.sh
Due: none

docs: enhance contributor documentation and testing guides (#5)
  .github/README.md
  CONTRIBUTING.md
  CONTRIBUTOR-QUICK-START.md
  README.md
  TESTING-GUIDE.md
  prompts/CLAUDE-CICD-CREATION-PROMT.md
  prompts/CLAUDE-CICD-OPTIMIZATION-PROMT.md
  setup-pre-commit.sh
Due: none

feat(traefik): add multi-DNS provider support for Let's Encrypt certificates
  CHANGELOG-DNS-PROVIDERS.md
  DNS-PROVIDER-CERT-RESOLVERS.md
  PROJECT.md
  README.md
  examples/dns-provider-cert-resolvers.tfvars
  examples/dns-providers.tfvars
  fix-all-modules.py
  helm-consul/locals.tf
  helm-consul/variables.tf
  helm-grafana/variables.tf
  helm-loki/variables.tf
  helm-portainer/locals.tf
  helm-portainer/variables.tf
  helm-prometheus-stack/alertmanager-ingress.tf
  helm-prometheus-stack/locals.tf
  helm-prometheus-stack/prometheus-ingress.tf
  helm-prometheus-stack/variables.tf
  helm-traefik/README.md
  helm-traefik/locals.tf
  helm-traefik/main.tf
  helm-traefik/outputs.tf
  helm-traefik/templates/traefik-values.yaml.tpl
  helm-traefik/variables.tf
  helm-vault/locals.tf
  helm-vault/variables.tf
  locals.tf
  main.tf
  terraform.tfvars.example
  test-configs/README.md
  test-configs/cloud.tfvars
  test-configs/production.tfvars
  tests.tftest.hcl
  variables.tf
Due: terraform-plan-validate, checkov, terrascan

feat(traefik): add multi-DNS provider support for Let's Encrypt certificates (#6)
  CHANGELOG-DNS-PROVIDERS.md
  DNS-PROVIDER-CERT-RESOLVERS.md
  PROJECT.md
  README.md
  examples/dns-provider-cert-resolvers.tfvars
  examples/dns-providers.tfvars
  fix-all-modules.py
  helm-consul/locals.tf
  helm-consul/variables.tf
  helm-grafana/variables.tf
  helm-loki/variables.tf
  helm-portainer/locals.tf
  helm-portainer/variables.tf
  helm-prometheus-stack/alertmanager-ingress.tf
  helm-prometheus-stack/locals.tf
  helm-prometheus-stack/prometheus-ingress.tf
  helm-prometheus-stack/variables.tf
  helm-traefik/README.md
  helm-traefik/locals.tf
  helm-traefik/main.tf
  helm-traefik/outputs.tf
  helm-traefik/templates/traefik-values.yaml.tpl
  helm-traefik/variables.tf
  helm-vault/locals.tf
  helm-vault/variables.tf
  locals.tf
  main.tf
  terraform.tfvars.example
  test-configs/README.md
  test-configs/cloud.tfvars
  test-configs/production.tfvars
  tests.tftest.hcl
  variables.tf
Due: terraform-plan-validate, checkov, terrascan

feat(traefik): add distributed tracing with Loki backend integration
  .tflint.hcl
  README.md
  helm-grafana/templates/grafana-values.yaml.tpl
  helm-kube-state-metrics/.terraform.lock.hcl
  helm-kube-state-metrics/.tflint.hcl
  helm-kube-state-metrics/METRICS.md
  helm-kube-state-metrics/README.md
  helm-kube-state-metrics/limit_range.tf
  helm-kube-state-metrics/locals.tf
  helm-kube-state-metrics/main.tf
  helm-kube-state-metrics/outputs.tf
  helm-kube-state-metrics/templates/kube-state-metrics-values.yaml.tpl
  helm-kube-state-metrics/variables.tf
  helm-kube-state-metrics/version.tf
  helm-traefik/README.md
  helm-traefik/locals.tf
  helm-traefik/templates/traefik-values.yaml.tpl
  helm-traefik/variables.tf
  locals.tf
  main.tf
  prompts/CLAUDE-CONTRIBUTION-PROMPT.md
  terraform.tfvars.example
  variables.tf
Due: terraform-plan-validate, checkov, terrascan

fix(ci): remove AWS plugin from all TFLint configurations
  helm-consul/.tflint.hcl
  helm-gatekeeper/.tflint.hcl
  helm-gatekeeper/crds/.tflint.hcl
  helm-gatekeeper/policies/.tflint.hcl
  helm-grafana/.tflint.hcl
  helm-host-path/.tflint.hcl
  helm-loki/.tflint.hcl
  helm-metallb/.tflint.hcl
  helm-nfs-csi/.tflint.hcl
  helm-node-feature-discovery/.tflint.hcl
  helm-portainer/.tflint.hcl
  helm-prometheus-stack-crds/.tflint.hcl
  helm-prometheus-stack/.tflint.hcl
  helm-promtail/.tflint.hcl
  helm-promtail/examples/basic/.tflint.hcl
  helm-traefik/.tflint.hcl
  helm-traefik/ingress/.tflint.hcl
  helm-vault/.tflint.hcl
Due: none

fix: complete configuration hierarchy implementation
  helm-grafana/locals.tf
  helm-grafana/main.tf
  helm-grafana/variables.tf
  helm-portainer/locals.tf
  helm-portainer/main.tf
  helm-portainer/variables.tf
  helm-prometheus-stack/auth.tf
  helm-prometheus-stack/locals.tf
  locals.tf
  main.tf
  prompts/CLAUDE-CONTRIBUTION-PROMPT.md
Due: terraform-plan-validate, checkov, terrascan

feat: implement centralized middleware authentication system
  README.md
  VARIABLES.md
  helm-prometheus-stack/README.md
  helm-prometheus-stack/alertmanager-ingress.tf
  helm-prometheus-stack/auth.tf
  helm-prometheus-stack/locals.tf
  helm-prometheus-stack/outputs.tf
  helm-prometheus-stack/prometheus-ingress.tf
  helm-prometheus-stack/variables.tf
  helm-traefik/README.md
  helm-traefik/ingress/README.md
  helm-traefik/ingress/variables.tf
  helm-traefik/main.tf
  helm-traefik/middleware/.terraform.lock.hcl
  helm-traefik/middleware/README.md
  helm-traefik/middleware/main.tf
  helm-traefik/middleware/outputs.tf
  helm-traefik/middleware/variables.tf
  helm-traefik/middleware/versions.tf
  helm-traefik/outputs.tf
  helm-traefik/templates/traefik-values.yaml.tpl
  helm-traefik/variables.tf
  locals.tf
  main.tf
  variables.tf
Due: terraform-plan-validate, checkov, terrascan

feat: comprehensive authentication system with dual LDAP methods and middleware improvements
  AUTHENTICATION-GUIDE.md
  BREAKING-CHANGES.md
  CONTRIBUTING-MIDDLEWARE.md
  LDAP-AUTHENTICATION-METHODS.md
  MIDDLEWARE-SYSTEM.md
  README.md
  docs/MIDDLEWARE-GUIDE.md
  helm-prometheus-stack/README.md
  helm-prometheus-stack/alertmanager-ingress.tf
  helm-prometheus-stack/prometheus-ingress.tf
  helm-prometheus-stack/variables.tf
  helm-traefik/README.md
  helm-traefik/ingress/README.md
  helm-traefik/ingress/main.tf
  helm-traefik/ingress/outputs.tf
  helm-traefik/ingress/variables.tf
  helm-traefik/main.tf
  helm-traefik/middleware/README.md
  helm-traefik/middleware/main.tf
  helm-traefik/middleware/variables.tf
  helm-traefik/outputs.tf
  helm-traefik/templates/traefik-values.yaml.tpl
  helm-traefik/variables.tf
  locals.tf
  main.tf
  outputs.tf
  scripts/test-middleware-comprehensive.sh
  scripts/test-middleware.sh
  terraform.tfvars.example
  test-configs/middleware-ldap-comprehensive.tfvars
  test-configs/middleware-ldap-test.tfvars
  test-configs/middleware-test.tfvars
  variables.tf
Due: terraform-plan-validate, checkov, terrascan

fix: replace dead discussions link with issues in AUTHENTICATION-GUIDE.md
  AUTHENTICATION-GUIDE.md
Due: none

feat: Add configurable replica counts for Consul and Vault with security hardening
  SECURITY-FIXES-SUMMARY.md
  helm-consul/README.md
  helm-consul/locals.tf
  helm-consul/templates/consul-values.yaml.tpl
  helm-consul/values.tf
  helm-consul/variables.tf
  helm-traefik/middleware/main.tf
  helm-vault/README.md
  helm-vault/locals.tf
  helm-vault/values.yaml.tpl
  helm-vault/variables.tf
  helm-vault/vault-init-job.tf
  helm-vault/vault-unsealer-deployment.tf
  locals.tf
  main.tf
  variables.tf
Due: terraform-plan-validate, checkov, terrascan

various fixes and reordering of code and overrides
  helm-grafana/templates/grafana-values.yaml.tpl
  helm-portainer/README.md
  helm-portainer/main.tf
  helm-portainer/values.yaml.tpl
  helm-traefik/README.md
  helm-traefik/dns_secrets.tf
  helm-traefik/locals.tf
  helm-traefik/main.tf
  helm-traefik/outputs.tf
  helm-traefik/pvc.tf
  helm-traefik/templates/traefik-values.yaml.tpl
  helm-traefik/variables.tf
  locals.tf
  main.tf
Due: terraform-plan-validate, checkov, terrascan

vault init and unsealer fixes after security improvements, changed image policy pull ifnotpresent, to avoid multiple downloads
  helm-traefik/middleware/main.tf
  helm-vault/values.yaml.tpl
  helm-vault/vault-init-job.tf
  helm-vault/vault-unsealer-deployment.tf
  main.tf
Due: terraform-plan-validate, checkov, terrascan

feat: improve Consul and Vault deployment for small clusters
  helm-consul/README.md
  helm-consul/locals.tf
  helm-consul/main.tf
  helm-consul/servicemonitor.tf
  helm-consul/templates/consul-values.yaml.tpl
  helm-consul/values.tf
  helm-consul/variables.tf
  helm-grafana/templates/grafana-values.yaml.tpl
  helm-traefik/README.md
  helm-traefik/servicemonitor.tf
  helm-vault/values.yaml.tpl
  locals.tf
  main.tf
  terraform.tfvars.example
Due: terraform-plan-validate, checkov, terrascan

refactor: streamline variables and enhance outputs with comprehensive module debugging
  locals.tf
  main.tf
  outputs.tf
  terraform.tfvars.example
  variables.tf
  version.tf
Due: terraform-plan-validate, checkov, terrascan

Path conditions:
  terraform-plan-validate: any of: \.(tf|tfvars)$
  checkov: any of: \.(tf|yaml|yml|json)$, but not: \.terraform/|\.git/|test-configs/|examples/
  terrascan: any of: \.tf$, but not: \.terraform/|test-configs/|examples/
